<div class="container">
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <div *ngIf="alertText.text" class="alert {{alertText.class}}" role="alert">
        {{alertText.text}}
      </div>
      <form [formGroup]="user">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >User Id</label>
            <div style="background-color: white;padding: 4px;border-radius: 4px;color: black;" *ngIf="isModify">{{user.controls.userId.value}}</div>
            <input *ngIf="!isModify" autocomplete="off" formControlName="userId" type="text"  class="form-control">
            <span class="control-alert"
              *ngIf="user.controls.userId.errors && user.controls.userId.invalid && (user.controls.userId.touched || submitted)">
              Invalid field<small>User Id field is required with only Alphanumeric characters which minimum 6 to maximum 15 characters & Existing User Id not allowed</small>
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label >First Name</label>
            <input autocomplete="off" formControlName="firstname" type="text" class="form-control">
            <span class="control-alert"
              *ngIf="user.controls.firstname.errors && user.controls.firstname.invalid && (user.controls.firstname.touched || submitted)">
              Invalid field<small>First name is required field contains only alphabetical characters</small>
            </span>
          </div>
          <div class="form-group col-md-4">
            <label >Middle Name</label>
            <input autocomplete="off" type="text" formControlName="middlename" class="form-control" >
            <span class="control-alert"
              *ngIf="user.controls.middlename.errors && user.controls.middlename.invalid && (user.controls.middlename.touched || submitted)">
              <small>Middle name is accepts only alphabetical characters</small>
            </span>
          </div>
          <div class="form-group col-md-4">
            <label >Last Name</label>
            <input autocomplete="off" type="text" formControlName="lastname" class="form-control" >
            <span class="control-alert"
              *ngIf="user.controls.lastname.errors && user.controls.lastname.invalid && (user.controls.lastname.touched || submitted)">
              Invalid field<small>Last name is required field contains only alphabetical characters</small>
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress">Address Line 1</label>
            <textarea autocomplete="off" class="form-control" formControlName="address1" rows="3"></textarea>
            
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress">Address Line 2</label>
            <textarea autocomplete="off" class="form-control" formControlName="address2" rows="3"></textarea>
          
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Password</label>
            <input autocomplete="off" formControlName="password" type="password" class="form-control">
            <span class="control-alert"
              *ngIf="user.controls.password.errors && user.controls.password.invalid && (user.controls.password.touched || submitted)">
              Invalid field<small>Password must contains minimum 6 to 20 characters with at least one uppercase,lowercase alphabet,one number & one special character</small>
            </span>
          </div>
          <div class="form-group col-md-6">
            <label >Email</label>
            <input autocomplete="off" type="text" formControlName="email" class="form-control" >
            <span class="control-alert"
              *ngIf="user.controls.email.errors && user.controls.email.invalid && (user.controls.email.touched || submitted)">
              Invalid field
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label >City</label>
            <input autocomplete="off" type="text" formControlName="city" class="form-control" >

          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select autocomplete="off" id="inputState" formControlName="state" class="form-control">
              <!-- <option>...</option> -->
              <option *ngFor="let state of stateList" [value]="cityData">{{state}}</option>
            </select>

          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Zip Code</label>
            <input autocomplete="off" type="text" formControlName="zip" class="form-control" >
            <span class="control-alert"
            *ngIf="user.controls.zip.errors && user.controls.zip.invalid && (user.controls.zip.touched || submitted)">
            Invalid field<small>Zip code contains only 6 digit numbers</small>
          </span>
        </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="addStudent()">Submit</button>
        <button type="submit" class="btn btn-secondary" (click)="reset()">Reset</button>

      </form>
    </div>
  </div>


</div>